<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         backupGlobals="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false">
    <testsuites>
        <testsuite name="Testbench Test Suite">
            <directory suffix="Test.php">./core/tests/</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>commander</group>
            <group>core</group>
            <group>database</group>
            <group>workbench</group>
        </exclude>
    </groups>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
        <server name="RAY_ENABLED" value="(true)"/>
    </php>
</phpunit>
